*,
*::before,
*::after {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

@font-face{
    font-family: MontsLight;
    src: url("fonts/Montserrat-Light.ttf");
}

@font-face{
    font-family: MontsRegular;
    src: url("./fonts/Montserrat-Regular.ttf");
}

@font-face{
    font-family: MontsBold;
    src: url("./fonts/Montserrat-Bold.ttf");
}

.details {
    font-family: MontsLight;
}

.portfolio {
    color: white;
    background: linear-gradient(to bottom right,  #B38D97, #D5ACA9, #EBCFB2) ;
}

nav {
    min
}


